body {
    background-color: $white-100;
    @extend %DMSans-400;
    color: $blue-300;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.container-lg {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px;  
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

