html,
body {
    height: 100%;
}

body {
    background-color: $white-100;
    font-family: $dmsans;
    font-weight: 400;
    color: $blue-300;
    line-height: 1.2;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {

    &:focus {
        outline: none;
        box-shadow: 5px 5px 5px 2px rgba(67, 99, 114, 0.5);
    }

    &:active:focus {
        box-shadow: 0px 0px 0px 0px rgba(67, 99, 114, 0.5);
    }
}

button {

    &:focus {
        outline: none;
        box-shadow: 0px 0px 5px 5px rgba(37, 37, 37, 0.5);
    }

    &:active:focus {
        box-shadow: 0px 0px 0px 0px rgba(37, 37, 37, 0.5);
    }
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;

    &--lg {
        max-width: 1920px;
    }

    &--sm {
        max-width: 1200px;
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 25px;
    color: $black-100;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.btn {
    border: none;
    background-color: transparent;
    padding: 0;

    &--universal {
        background-color: $blue-200;
        color: $white-100;
        line-height: 1.4;
        transition: background-color 0.4s;

        &:hover {
            background-color: $blue-500;
        }
    }

    &--arrow {
        padding: 22px 100px 22px 30px;
        font-family: $rubik;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.1;
        position: relative;

        &::after {
            position: absolute;
            background-image: url(../images/content/arrow-white.svg);
            background-repeat: no-repeat;
            content: "";
            right: 20px;
            height: 10px;
            width: 22px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }
    }

    &--more {
        color: $blue-300;
        font-family: $rubik;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.1;
        border: 1px solid $gray-200;
        border-radius: 5px;
        padding: 20px 85px 20px 20px;
        transition: background-color 0.4s, color 0.4s, border-color 0.4s;

        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            fill: $blue-300;
            transition: fill 0.4s;
        }

        &:hover {
            background-color: $blue-200;
            color: $white-100;
            border-color: transparent;

            svg {
                fill: $white-100;
            }
        }
    }
}

.menu__dropdown {
    color: $white-100;
    position: absolute;
    top: 50px;
    max-width: 230px;
    border: 2px solid $blue-200;
    border-top: none;
    width: 100%;
    padding: 15px 10px;
    background-color: $blue-100;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: opacity 0.4s, top 0.4s, visibility 0.4s;

    &--wide {
        background-color: $blue-300;
        max-width: 245px;
        width: 100%;
        top: 75px;
        right: 0;

        &.active {
            opacity: 1;
            visibility: visible;
            top: 50px;
        }
    }

    &__item {
        border-radius: 20px;
        transition: box-shadow 0.4s;

        &:not(:last-child) {
            margin-bottom: 10px;
            @include line-clamp (1);
        }

        &:hover {
            box-shadow: 5px 5px 5px 2px rgba(67, 99, 114, 0.5);
        }
    }

    &__link {
        padding: 5px 0;
        display: block;
        font-size: 13px;
        font-family: $rubik;
        padding-left: 10px;
        border-bottom: 1px solid $blue-300;
        background-color: $blue-200;
        border-radius: 20px;
        transition: background-color 0.4s, color 0.4s, border-color 0.4s;

        &:hover {
            color: $blue-300;
            background-color: $blue-100;
            border-color: $white-100;
        }
    }
}