$white-100: #fff;

$gray-100: #e8e4df;
$gray-300: #8b8b8b;
$gray-400: #7b7b7b;
$gray-500: #585858;
$gray-600: #414141;

$black-100: #191919;
$black-200: #1a1a1a;

$blue-100: #edf1f4;
$blue-200: #a3bbc8;
$blue-300: #436372;
$blue-400: #234969;
$blue-500: #243f4d;
$blue-700: #1f2044;

$yellow-100: #fef7f0;
$yellow-200: #fde3cc;
$yellow-300: #fde7d3;
$yellow-500: #fcd7b6;

%DMSans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%DMSans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%DMSans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%Rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%Rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}


@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}