<li class="reviews__item">
    <img  class="reviews__img" src="@@image-url" alt="@@alt">
    <div class="reviews__content">
        <div class="reviews__top">
            <a class="reviews__link" href="#">
                <span class="reviews__name">
                    @@name
                </span>
            </a>
            <time class="reviews__date" datetime="2021-09-16t08:18:11+02:00">
                @@date
            </time>
            
            @@if (reviews === true) {
                <div class="reviews__stars"></div>
            }
            
        </div>
        <div class="reviews__text">
            <p>
                @@text
            </p>
        </div>

        @@if (reviews === true) {
            <button class="reviews__reply" type="button">
                <svg width="15" height="13">
                    <use xlink:href="images/sprite.svg#reply"></use>
                </svg>
                Reply
            </button>
        }

        @@if (reviews === false) {
            <button class="reviews__reply" type="button">
                Reply
                <svg width="18" height="14">
                    <use xlink:href="images/sprite.svg#arrow-icon"></use>
                </svg>
            </button>
        }
        
    </div>
</li>




