.register {

    .page-top {
        margin-bottom: 105px;

        @include r($mobile-xl) {
            margin: 90px 0 70px;
        }

        @include r($mobile-sm) {
            margin: 70px 0 30px;
        }

        @include r($mobile) {
            margin: 65px 0 30px;
        }
    }

    .partners {
        margin-bottom: 0;
    }

    .username {

        &__form {
            margin-bottom: 120px;

            @include r($mobile-xl) {
                margin-bottom: 90px;
            }
    
            @include r($mobile-sm) {
                margin-bottom: 70px;
            }
    
            @include r($mobile) {
                margin-bottom: 65px;
            }
        }

        &__input {

            &--password {
                margin-bottom: 20px;
            }
        }

        &__register {
            text-align: left;
            margin-bottom: 25px;
        }

        &__text {
            font-family: $rubik;
            color: $blue-300;
            line-height: 1.5;
            margin-bottom: 30px;
            @include line-clamp(5);
        }

        &__required {

            &--checkbox {
                margin-bottom: 20px;
                line-height: 1.2;
                @include line-clamp(2);
            }
        }

        &__checkbox--costom {
            top: 1px;
        }
    }
}