.advantages {

    &__list {
        display: flex;
        justify-content: space-around;

        @include r($mobile-xl) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 590px;
        width: 100%;
        padding: 40px 0px 45px 225px;
        position: relative;
        background-color: $yellow-100;

        @include r($mobile-xl) {
            max-width: 480px;
            padding: 40px 0px 45px 200px;
        }

        @include r($mobile-md) {
            display: block;
            max-width: 600px;
        }

        @include r($mobile) {
            padding: 40px 20px 45px 100px;
        }

        &:not(:last-child) {
            border-right: 1px solid $gray-100;

            @include r($mobile-xl) {
                border-right: none;
                margin-bottom: 30px;
            }

            @include r($mobile) {
                margin-bottom: 20px;
            }
        }

        &::before {
            position: absolute;
            content: "";
            height: 55px;
            width: 55px;
            background-repeat: no-repeat;
            left: 135px;
            top: 50px;

            @include r($mobile) {
                left: 35px;
            }
        }

        &--support::before {
            background-image: url(../images/content/hours.png);
        }

        &--delivery::before {
            background-image: url(../images/content/car.png);
        }

        &--payment::before {
            background-image: url(../images/content/card.png);
        }
    }

    &__span {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.8; 
        color: $gray-600; 
        max-width: 215px;
        @include line-clamp(1);
    }

    &__text {
        max-width: 215px;
        font-size: 16px;
        line-height: 1.8;
        color: $gray-500;
        @include line-clamp(3);

        @include r($mobile) {
            max-width: 400px;
        }
    }
}