.advantages {

    &__list {
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
        background-color: $yellow-100;
    }

    &__item {
        max-width: 580px;
        padding-left: 65px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            height: 55px;
            width: 55px;
            background-repeat: no-repeat;
            left: -10px;
            top: 10px;
        }

        &--support::before {
            background-image: url(../images/content/hours.png);
        }

        &--delivery::before {
            background-image: url(../images/content/car.png);
        }

        &--payment::before {
            background-image: url(../images/content/card.png);
        }
    }

    &__span {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.8; 
        color: $gray-600; 
        max-width: 215px;
        @include line-clamp (1);
        
        &--delivery {

            &::after,
            &::before {
                position: absolute;
                content: "";
                height: 168px;
                width: 1px;
                background-color: $gray-100;
                top: -40px;
            }
            
            &::after {
                right: -145px;          
            }
    
            &::before {
                left: -180px;               
            }
        }
    }

    &__text {
        max-width: 215px;
        font-size: 16px;
        line-height: 1.8;
        color: $gray-500;
        @include line-clamp (3);
    }
}