.partners {
    padding: 80px 0 85px;
    background-color: $yellow-100;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    @include r($mobile) {
        padding: 40px 0;
    }

    &__list {

        @include r($mobile-xl) {
            max-width: 940px;
        }

        @include r($mobile-md) {
            max-width: 750px;
        }

        @include r($mobile-sm) {
            max-width: 480px;
        }

        @include r($mobile) {
            max-width: 250px;
        }
    }

    &__img-wrapper {
        display: flex;
        align-items: center;
        height: 85px; 
        max-width: 240px;     
        justify-content: center;
    }
}