.products-list2 {

    .partners {
        margin-bottom: 0;
    }

    .products-list__inner {

        .pagination {
            justify-content: flex-start;
        }
    }

    .products-week__list {
        display: block;
        margin-bottom: 80px;
    }

    .products-week__item {
        max-width: 870px;
        padding: 0;
        box-shadow: none;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    .product-card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__img-wrapper {
            max-width: 370px;
            width: 100%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 60px 0 0;
            padding: 30px;
            background-color: $white-300;
            border: 2px solid $white-200;
        }

        &__content {
            padding: 85px 20px 0px 0;
            display: flex;
            flex-direction: column;
        }

        &__box {
            text-align: start;
            margin-bottom: 35px;
        }

        &__title {
            margin-bottom: 20px;
            font-family: $rubik;
            font-weight: 400;
            font-size: 40px;
            line-height: 1.1;
            max-width: 100%;
            color: $gray-800;
        }

        &__stars {
            padding: 0;
            margin-bottom: 30px;
        }

        &__price {
            margin-bottom: 25px;
            font-family: $rubik;
            font-weight: 400;
            font-size: 30px;
            color: $gray-800;
        }

        &__text {
            font-family: $rubik;
            font-weight: 400;
            font-size: 16px;
            color: $blue-500;
            line-height: 1.8;
        }

        &__buttons {
            position: relative;
            margin-top: auto;
        }

        &__list {
            display: flex;
            align-items: flex-end;
            height: 100%;
            opacity: 1;
            position: absolute;
            visibility: visible;

            &.active {
                display: none;
            }
        }

        &__item {
            height: 100%;
            top: auto;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        &__btn {
            height: 50px;
            width: 50px;
            border-radius: 0;
            margin: 0;

            &:active:focus {
                border-radius: 0;
            }

            &:focus {
                box-shadow: 4px 4px 5px 2px rgba(37, 37, 37, 0.5);
            }
        }

        &__add {
            padding: 16px 55px;
            border-radius: 5px;
            background-color: $blue-200;
            text-transform: uppercase;
            color: $white-100;
            font-family: $rubik;
            font-weight: 400;
            font-size: 15px;
            position: absolute;
            left: 0;
            visibility: hidden;
            display: none;
            transition: background-color 0.4s;

            &:hover {
                background-color: $blue-500;
            }

            &.active {
                display: block;
                visibility: visible;

                &:focus {
                    box-shadow: 5px 5px 5px 2px rgba(37, 37, 37, 0.5);
                }
            }
        }
    }
}