.products-list {

    &__title {
        margin-bottom: 35px;
    }

    &__content {
        display: flex;
        margin-bottom: 120px;

        .products-week__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 110px;
        }

        .pagination {

            &__prev {
                display: none;
            }
    
            &__item {
    
                &:first-child {
                    background-color: $blue-200;
    
                    .pagination__link {
                        color: $white-100;
                    }
                }
            }
        }
    }

    &__aside {
        max-width: 270px;
        margin-right: 30px;
        width: 100%;
    }

    .partners {
        margin-bottom: 0;
    }
}

.filters-box {
    position: relative;

    &__title--price {
        margin-bottom: 20px;
    }
}

.filters-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;

    &__select {
        border: 2px solid transparent;
        border-radius: 5px;

        &:hover {
            background: $blue-100;
            border-color: $blue-200;
        }

        &--watch,
        &--clock,
        &--lamp,
        &--chair,
        &--table {

            &.active {
                background-color: $blue-100;
                border-color: $blue-200;

                .jq-selectbox__trigger-arrow {
                    transform: translate(45deg);
                }
            }
        }
    }
}

.jq-selectbox {

    // &.jqselect, .filters-product__select, .filters-product__option, .dropdown, .opened {

    //     background-color: violet;

        
    // }

    .filters-product__option {
        font-family: $rubik;
        font-weight: 400;
        cursor: pointer;
        font-size: 16px;
        color: $blue-500;
        color: $white-100;
        max-width: 245px;
        padding: 5px 5px 5px 10px;
        border-radius: 15px;
        background-color: $blue-200;
        color: $white-100;
        margin-bottom: 10px;
        transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;

        &:hover {
            background-color: $blue-100;
            box-shadow: 5px 5px 5px 2px rgba(67, 99, 114, 0.5);
            color: $blue-300;
        }

        &:focus {
            outline-color: transparent;
        }

        &.selected {
            background-color: $blue-100;
            box-shadow: 5px 5px 5px 2px rgba(67, 99, 114, 0.5);
            color: $blue-300;
        }
    }

    &__dropdown {
        box-sizing: border-box;
        width: 100%;
        margin: 2px 0 0;
        padding: 10px 0 0 10px;
        border: 2px solid $blue-200;
        border-radius: 5px;
        background: $blue-100;
        box-shadow: none;
        border-top: none;
        top: 44px;
    }

    &__select {
        padding: 10px 0px 11px 15px;
        border: 2px solid transparent;
        border-bottom-color: transparent;
        cursor: pointer;
        border-radius: 5px;
        background: transparent;
        display: flex;
        align-items: center;
        box-shadow: none;
        text-shadow: none;
        transition: background-color 0.4s;

        &:focus {
            outline-color: transparent;
            border-color: $blue-100;
            background-color: $blue-200;
        }

        &:active {
            background-color: $blue-200;
            color: $white-100;
        }
    }

    &__select-text {
        font-family: $rubik;
        font-weight: 400;
        font-size: 16px;
        color: $blue-500;
    }

    &__trigger {
        border-left: none;
        width: 40px;
    }

    &__trigger-arrow {
        position: absolute;
        top: 14px;
        right: 23px;
        width: 5px;
        height: 10px;
        border: none;
        background-image: url(../images/content/select-arrow.svg);
        transition: transform 0.2s;

        &.active {
            transform: rotate(90deg);
        }
    }
}

.filters-price {
    margin-bottom: 75px;
    border: 3px solid transparent;

    &:focus {
        outline-color: transparent;
        border-color: $blue-200;
        border-radius: 5px;
    }

    &__dollar,
    &__to,
    &__from {
        font-size: 14px;
        font-family: $rubik;
        font-weight: 400;
        line-height: 2;
        color: $blue-500;
    }

    &__to {
        position: absolute;
        right: 10px;
    }

    &__dollar--right {
        position: absolute;
        right: 55px;
    }
}

.filters-brand {
    margin-bottom: 50px;

    &__label {
        cursor: pointer;
        position: relative;
    }

    &__input {
        position: absolute;
        top: 15px;
        left: 100px;

        &:checked + .filters-brand__checkbox {
            background-color: $blue-100;

            & > .filters-brand__number {
                color: $blue-500;
            }
        }
    }

    &__checkbox {
        display: flex;
        background-color: $white-100;
        justify-content: space-between;
        padding: 12px 25px 12px 15px;
        border-radius: 5px;
        font-family: $rubik;
        font-weight: 400;
        color: $blue-500;
        border: 3px solid transparent;
        font-size: 16px;
        transition: background-color 0.4s;

        &:hover {
            background-color: $blue-100;

            & > .filters-brand__number {
                color: $blue-500;
            }
        }

        &:focus {
            outline-color: transparent;
            border-color: $blue-200;
            border-radius: 5px;
        }
    }

    &__number {
        color: $gray;
        transition: color 0.4s;
    }
}

.irs--flat {

    .irs-line {
        top: 17px;
        height: 2px;
        background-color: $blue;
        border-radius: none;
    }

    .irs-bar {
        top: 16px;
        height: 3px;
        background-color: $blue-200;
    }

    .irs-handle {
        top: 10px;
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-color: $blue-200;

        &>i:first-child {
            display: none;
        }
    }

    .irs-max,
    .irs-min,
    .irs-from,
    .irs-to,
    .irs-single {
        display: none;
    }
}

.recent {

    &__item {

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__wrapper-img {
        max-width: 70px;
        width: 100%;
        height: 70px;
        border: 2px solid $blue-100;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-color 0.4s;
    }

    &__link {
        display: flex;
        transition: box-shadow 0.4s, border-top-right-radius 0.4s, border-bottom-right-radius 0.4s;

        &:hover {
            box-shadow: 4px 4px 5px 2px rgba(37, 37, 37, 0.5);
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;

            & > .recent__wrapper-img {
                border-color: $yellow-900;
            }
        }

        &:focus {
            border-bottom: none;
            box-shadow: 4px 4px 5px 2px rgba(37, 37, 37, 0.5);
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    &__price,
    &__title {
        font-size: 14px;
        font-family: $rubik;
        font-weight: 400;
        color: $gray-800;
        margin-bottom: 10px;
    }

    &__stars {
        margin-bottom: 10px;
        padding: 0;
    }

    &__price {
        font-size: 15px;
        margin-bottom: 0;
    }
}