.products-week {
    padding-top: 65px;

    &__title {
        font-family: $dmsans;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 25px;
        color: $black-100;
    }

    .products-filters {
        display: flex;
        justify-content: space-between;
        margin: 0 auto 80px;
        max-width: 380px;
        font-family: $dmsans;
        font-weight: 700;

        &__btn {
            color: $gray-300;
            font-size: 16px;
            transition: color 0.3s;

            &:hover {
                color: $black-200;
            }
        }
    }

    .mixitup-control-active {
        color: $black-200;
    }

    .products-things {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 40px;

        &__item {
            padding: 25px 10px 40px;
            max-width: 270px;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover .user-items {
                opacity: 1;
                top: 50%;
            }
        }
    }

    .product-card {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__img {
            height: 195px;
            margin-bottom: 65px;
            display: flex;
            align-items: flex-end;
        }

        &__name {
            max-width: 200px;
            font-family: $dmsans;
            font-weight: 500;
            font-size: 16px;
            color: $blue-500;
            line-height: 2.3;
            @include line-clamp-1;
        }

        &__price {
            max-width: 150px;
            font-family: $dmsans;
            font-weight: 700;
            color: $blue-200;
            font-size: 16px;
            line-height: 1.2;
            @include line-clamp-1;
        }
    }

    .user-items {
        position: absolute;
        top: 0;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s, top 0.5s;
        top: 60%;
        transform: translateY(-50%);
        display: flex;

        &:focus {
            opacity: 1;
            top: 50%;
            outline-color: $gray-300;
        }


        &__btn {
            margin: 0 7px;
            background-color: $white-100;
            border-radius: 50%;
            transition: background-color 0.4s;
            box-shadow: 1px 1px 25px 1px rgba(37, 37, 37, 0.4);
            height: 46px;
            width: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            path {
                transition: fill 0.4s;
            }

            &:hover {
                background-color: $blue-200;

                path {
                    fill: $white-100;
                }
            }
        }
    }
}