.products-list {

    &__title {
        margin-bottom: 32px;
    }

    &__content {
        display: flex;
        margin-bottom: 120px;

        .products-week__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 110px;

            .products-week__item {
                padding-bottom: 35px;
            }

            .product-card {

                &__title {
                    line-height: 2.5;
                }
            }

            &.active {
                display: none;
            }
        }

        .products-week__list-list {
            display: none;

            &.active {
                display: block;
                width: 100%;
                margin-bottom: 75px;

                .products-week__item {
                    max-width: 870px;
                    padding: 0;
                    box-shadow: none;
            
                    &:not(:last-child) {
                        margin-bottom: 40px;
                    }
                }

                .product-card {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;

                    &__link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-width: 370px;
                        width: 100%;
                        height: 500px;
                        padding: 30px;
                        background-color: $white-300;
                        border: 2px solid $white-200;
                        margin: 0 55px 0 0;
                    }
            
                    &__content {
                        padding: 85px 0px 0px 0;
                        display: flex;
                        flex-direction: column;
                    }
            
                    &__box {
                        text-align: start;
                        margin-bottom: 40px;
                    }
            
                    &__title {
                        margin-bottom: 15px;
                        font-family: $rubik;
                        font-weight: 400;
                        font-size: 40px;
                        line-height: 1.1;
                        max-width: 400px;
                        color: $gray-800;
                        @include line-clamp(3);
                    }
            
                    &__stars {
                        padding: 0;
                        margin-bottom: 35px;
                    }
            
                    &__price {
                        margin-bottom: 25px;
                        font-family: $rubik;
                        font-weight: 400;
                        padding-left: 5px;
                        font-size: 30px;
                        color: $gray-800;
                    }
            
                    &__text {
                        font-family: $rubik;
                        font-weight: 400;
                        font-size: 16px;
                        color: $blue-500;
                        padding: 0 5px;
                        line-height: 1.8;
                        max-width: 400px;
                        @include line-clamp(6);
                    }
            
                    &__buttons {
                        position: relative;
                        margin-top: auto;
                        background-color: #fcfcfc;
                    }
    
                    &__list {
                        display: flex;
                        align-items: flex-end;
                        height: 100%;
                        opacity: 1;
                        position: absolute;
                        visibility: visible;
            
                        &.active {
                            display: none;
                        }
                    }
            
                    &__item {
                        height: 100%;
                        top: auto;
            
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
            
                    &__btn {
                        height: 50px;
                        width: 50px;
                        border-radius: 0;
                        margin: 0;
                        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            
                        &:active:focus {
                            border-radius: 0;
                        }
            
                        &:focus {
                            box-shadow: 4px 4px 5px 2px rgba(37, 37, 37, 0.5);
                        }

                        &--add {

                            &.active {
                                display: none;
                            }
                        }
                    }
            
                    &__add {
                        padding: 16px 55px;
                        border-radius: 5px;
                        background-color: $blue-200;
                        text-transform: uppercase;
                        color: $white-100;
                        font-family: $rubik;
                        font-weight: 400;
                        font-size: 15px;
                        position: absolute;
                        left: 0;
                        visibility: hidden;
                        display: none;
                        transition: background-color 0.4s;

                        &:hover {
                            background-color: $blue-500;
                        }
            
                        &.active {
                            display: block;
                            visibility: visible;
            
                            &:focus {
                                box-shadow: 5px 5px 5px 2px rgba(37, 37, 37, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }

    &__inner {
        max-width: 870px;
        width: 100%;

        .pagination {

            &__prev {
                display: none;
            }

            &__item {

                &:first-child {
                    background-color: $blue-200;

                    .pagination__link {
                        color: $white-100;
                    }
                }
            }

            &.active {
                display: none;
            }

            &__items {
                display: none;

                &.active {
                    display: flex;
                    justify-content: flex-start;
                }
            }
        }
    }

    &__filter-view {
        display: flex;
        justify-content: flex-end;
        margin-top: -35px;
        margin-bottom: 20px;

        span {
            font-family: "Rubik", sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #243f4d;
            margin-right: 5px;
        }

        .btn-grid {
            margin-right: 10px;
        }
    }

    &__filter-btn {
        background-color: transparent;
        padding: 0;

        &.active {

            svg {
                fill: $yellow-900;

            }
        }

        &:focus {
            box-shadow: none;
        }
    }

    &__aside {
        max-width: 270px;
        margin-right: 30px;
        width: 100%;
    }

    .partners {
        margin-bottom: 0;
    }
}

.filters-box {
    position: relative;

    &__title--price {
        margin-bottom: 20px;
    }
}


.filters-price {
    margin-bottom: 75px;
    border: 3px solid transparent;
    position: relative;

    &:focus {
        outline-color: transparent;
        border-color: $blue-200;
        border-radius: 5px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        position: relative;
    }

    &__value1 {
        position: absolute;
        top: 6px;
    }

    &__value1,
    &__value2 {
        border: none;
        max-width: 50px;
        padding: 0;
        font-family: $rubik;
        font-size: 14px;
        font-weight: 400;
        border-bottom: 1px solid transparent;
        
        &:focus {
            outline: transparent;
            border-bottom-color: $blue-200;
        }
    }

    &__dollar {
        font-size: 14px;
        font-family: $rubik;
        font-weight: 400;
        line-height: 2;
        color: $blue-500;

        &--right {
            position: absolute;
            right: 50px;
            top: -5px;
        }
    }
}

.filters-items {
    margin-bottom: 48px;

    &--brand {
        margin-bottom: 45px;
    }

    &__label {
        cursor: pointer;
        position: relative;
    }

    &__input {
        position: absolute;
        top: 15px;
        left: 100px;

        &:checked+.filters-items__checkbox {
            background-color: $blue-100;

            &>.filters-items__number {
                color: $blue-500;
            }
        }
    }

    &__checkbox {
        position: relative;
        display: flex;
        background-color: $white-100;
        justify-content: space-between;
        padding: 9px 25px 10px 15px;
        border-radius: 5px;
        font-family: $rubik;
        font-weight: 400;
        color: $blue-500;
        border: 3px solid transparent;
        font-size: 16px;
        transition: background-color 0.4s;
        

        &:hover {
            background-color: $blue-100;

            &>.filters-items__number {
                color: $blue-500;
            }
        }

        &:focus {
            outline-color: transparent;
            border-color: $blue-200;
            border-radius: 5px;
        }
    }

    &__category,
    &__brand {
        max-width: 155px;
        @include line-clamp(1);
    }

    &__angle-right {
        content: "";
        width: 5px;
        height: 10px;
        position: absolute;
        background-image: url(../images/content/angle-right.svg);
        right: 20px;
        top: 13px;
    }

    &__number {
        color: $gray;
        transition: color 0.4s;
    }
}

.irs--flat {

    .irs-line {
        top: 17px;
        height: 2px;
        background-color: $blue;
        border-radius: none;
    }

    .irs-bar {
        top: 16px;
        height: 3px;
        background-color: $blue-200;
    }

    .irs-handle {
        top: 10px;
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-color: $blue-200;

        &>i:first-child {
            display: none;
        }
    }

    .irs-max,
    .irs-min,
    .irs-from,
    .irs-to,
    .irs-single {
        display: none;
    }
}

.recent {

    &__item {

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    &__wrapper-img {
        max-width: 70px;
        width: 100%;
        height: 70px;
        border: 2px solid $blue-100;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: border-color 0.4s;
    }

    &__link {
        display: flex;
        align-items: center;
        transition: box-shadow 0.4s, border-top-right-radius 0.4s, border-bottom-right-radius 0.4s;

        &:hover {
            box-shadow: 4px 4px 5px 2px rgba(37, 37, 37, 0.5);
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;

            &>.recent__wrapper-img {
                border-color: $yellow-900;
            }
        }

        &:focus {
            border-bottom: none;
            box-shadow: 4px 4px 5px 2px rgba(37, 37, 37, 0.5);
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    &__price,
    &__title {
        font-size: 14px;
        font-family: $rubik;
        font-weight: 400;
        color: $gray-800;
        margin-bottom: 10px;  
        @include line-clamp(3);
    }

    &__stars {
        margin-bottom: 10px;
        padding: 0;
    }

    &__price {
        font-size: 15px;
        margin-bottom: 0;
        max-width: 160px;    
        @include line-clamp(1);
    }
}