.blog {

    &__details {

        .breadcrumbs {

            &__item {
    
                &:nth-child(2) {
                    pointer-events: painted;
                    margin-right: 20px;
    
                    &::after {
                        display: block;
                    }
                }
    
                &:last-child {
                    display: block;
                }
            }
        }

        .blog__inner {
            margin-bottom: 120px;

            @include r($mobile-lg) {
                margin-bottom: 90px;
            }

            @include r($mobile-sm) {
                margin-bottom: 60px;
            }
        }
    
        .post-card {
            pointer-events: none;
            margin-bottom: 60px;

            @include r($mobile) {
                margin-bottom: 45px;
            }
    
            &__box {
                padding: 32px 0 0;
    
                @include r($mobile-lg) {
                    background-color: $white-100;
                }
            }
    
            &__title {
                margin-bottom: 15px;
    
            }
    
            &__text {
                text-transform: none;
                line-height: 1.9;
                margin-bottom: 35px;
                @include line-clamp(10);
    
                &--top {
    
                    p {
                        @include line-clamp(1000);
    
                        &:nth-child(1) {
                            font-weight: 500;
                            margin-bottom: 15px;
                        }
                    }
                }
    
                &--bottom {
                    padding: 0 0 0 5px;
                    margin-bottom: 0;
                    @include line-clamp(10000);

                    @include r($mobile-sm) {
                        padding: 0;
                    }
                }
            }
    
            &__quote {
                border-left: 6px solid $blue-200;
                background-color: $blue-100;
                font-family: $rubik;
                font-size: 16px;
                line-height: 1.8;
                padding: 20px 40px 15px 35px;
                color: $blue-500;
                margin-bottom: 50px;

                @include r($mobile-sm) {
                    margin-bottom: 35px;
                }

                @include r($mobile) {
                    padding: 15px 20px;
                }
            }
    
            &__quote-text {
                margin-bottom: 10px;
            }
    
            &__quote-cite {
                font-style: normal;
                padding-left: 45px;
                position: relative;
    
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 3px;
                    background-color: $blue-200;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
    
            &__bottom {
                border-top: 0;
                padding: 0;
                margin-bottom: 35px;
                display: inline;

                @include r($mobile-sm) {
                    display: block;
                    margin-bottom: 35px;
                }
            }

            &__wrapper {
                margin-bottom: 35px;

                @include r($mobile-md) {
                    padding: 0;
                }
            }
    
            &__img-bottom {
                max-width: 320px;
                width: 100%;
                max-height: 210px;
                height: 70vh;
                float: left;
                margin-right: 30px;
                object-fit: cover;
                background-color: $blue-100;

                @include r($mobile-md) {
                    margin-right: 15px;
                }

                @include r($mobile-sm) {
                    float: none;
                    max-width: 750px;
                    margin: 0 0 10px;
                }
            }
    
            &__title-bottom {
                font-weight: 500;
                font-family: $rubik;
                font-size: 18px;
                text-transform: none;
                line-height: 1.6;
                margin-bottom: 15px;
                @include line-clamp(2);

                &--top {
                    padding-top: 20px;

                    @include r($mobile-lg) {
                        padding-top: 0;
                    }
                }
            }
        }
    
    }

    &__wrapper {
        border-top: 2px solid $gray-900;
        border-bottom: 2px solid $gray-900;
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        margin-bottom: 60px;

        @include r($mobile) {
            flex-direction: column;
            align-items: center;
            background-color: $blue-100;
            padding: 20px 10px;
            margin-bottom: 45px;
        }
    }

    &__reviews {
        margin-bottom: 85px;

        @include r($mobile-sm) {
            margin-bottom: 45px;
        }
    }

    &__form-title,
    &__reviews-title {
        font-family: $rubik;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.04rem;
        display: block;
        margin-bottom: 55px;
        @include line-clamp(2);

        @include r($mobile-sm) {
            text-align: center;
        }

        @include r($mobile) {
            margin-bottom: 35px;
        }

        span {
            margin-right: 5px;
        }
    }

    &__form-title {
        letter-spacing: 0.02rem;
        margin-bottom: 45px;
    }

    .reviews {
        margin-bottom: 0;

        &__item {

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @include r($mobile) {
                display: block;
            }
        }

        &__link {
            letter-spacing: 0.03rem;
            margin-bottom: 5px;
            max-width: 400px;

            span {
                @include line-clamp(2);
            }
            
            &::after {
                display: none;
            }
        }

        &__box {
            padding-bottom: 25px;
            border-bottom: 1px solid $white-600;
            
            &:last-child {
                padding: 30px 0;
            }

            &--bottom {
                display: flex;
            }
            
        }

        &__date {
            font-size: 14px;
        }

        &__text {
            padding-left: 5px;
            margin-bottom: 20px;
            line-height: 1.9;
            @include line-clamp(100000);

            @include r($mobile-xxl) {
                padding-left: 0;
            }
        }

        &__reply {
            padding: 0 20px 0 0;
            position: relative;
            color: $blue-900;

            &:hover {
                color: $blue-200;

                svg {
                    fill: $blue-200;
                }
            }

            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                fill: $blue-900;
            }
        }
    }

    .reviews-form {

        &__top {
            margin-bottom: 20px;
            position: relative;
        }

        &__icon {
            position: absolute;
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            top: 50%;
            transform: translateY(-50%);

            @include r($mobile-lg) {
                display: none;
            }

            &--name {
                background-image: url(../images/content/user-form.svg);
                left: 365px;
            }

            &--email {
                background-image: url(../images/content/envelope-form.svg);
                right: 20px;
            }

            &--text {
                background-image: url(../images/content/comment-form.svg);
                right: 20px;
                top: 25px;
            }
        }

        &__id,
        &__text {
            border-radius: 0;
        }

        &__id {
            padding: 18px 40px 18px 20px;
            width: 100%;

            @include r($mobile-lg) {
                padding: 18px 15px;
            }
        }

        &__wrapper {
            position: relative;
            margin-bottom: 35px;
        }

        &__text {
            height: 120px;
            padding: 10px 40px 10px 20px;
            margin-bottom: 0;

            @include r($mobile-lg) {
                padding: 10px 15px;
            }
        }

        &__btn {
            border-radius: 0;
            padding: 15px 30px;
        }
    }
}