.footer {
    padding: 85px 0 30px;
    color: $gray-400;

    @include r($mobile-sm) {
        padding-bottom: 20px;
    }

    @include r($mobile) {
        padding-top: 50px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;

        @include r($mobile-md) {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @include r($mobile) {
            margin-bottom: 40px;
        }
    }

    &__box {
        max-width: 275px;
        width: 100%; 

        @include r($mobile-md) {
            max-width: 245px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        @include r($mobile-sm) {

            &:not(:last-child) {
                margin-bottom: 0px;
            }

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 30px;
            }
        }

        @include r($mobile) {
            max-width: 275px;

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 0px;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        
    }

    &__logo {
        margin-bottom: 20px;
        display: inline-block;
        border-bottom: 1px solid transparent;
    }
    
    &__title {
        padding-top: 15px;
        margin-bottom: 20px;
        font-size: 16px;
        color: $blue-700;
        font-weight: 700;
        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
        @include line-clamp(1);
    }

    &__contacts {
        max-width: 195px;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        font-family: $rubik;
        display: inline-block;
        line-height: 1.7;
        position: relative;
        border-bottom: 1px solid transparent;
        transition: background-color 0.4s, color 0.4s, border-bottom-color 0.4s;

        &:hover {
            border-bottom-color: $blue-200;
            color: $blue-200;
        }

        span {
            text-transform: uppercase;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__bottom {
        padding-top: 25px;
        border-top: 1px solid $blue-100;
        display: flex;
        justify-content: space-between;
        line-height: 2.3;

        @include r($mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .footer__copy {
            margin-right: 30px;
            max-width: 70%;
            @include line-clamp(3);

            @include r($mobile) {
                margin-right: 0;
                max-width: 500px;
                margin-bottom: 10px;
            }
        }

        .menu {
            display: flex;
    
            &__item {
                position: relative;
    
                &:not(:last-child) {          
                    margin-right: 25px;

                    @include r($mobile-xl) {
                        margin-right: 25px;
                        margin-bottom: 0px;
                    }
        
                    &::after {
                        position: absolute;
                        content: "";
                        background-color: $gray-400;
                        height: 20px;
                        width: 1px;
                        right: -15px;
                        top: 5px;
                    }
                }
            }
    
            &__link {
                font-family: $rubik;
                color: $gray-400;
                transition: border-bottom-color 0.4s, color 0.4s;

                @include r($mobile-xl) {
                    font-size: 15px;
                }
    
                &:hover {
                    border-bottom-color: $blue-200;
                    color: $blue-200;
                }
            }
        }
    }
}

.subscribe-form {
    position: relative;

    @include r($mobile-lg) {
        display: block;
    }

    &__text {
        margin-bottom: 35px;
        line-height: 1.7;
        font-family: $rubik;
        @include line-clamp(3);
    }

    &__email {
        background-color: $yellow-100;
        border: none;
        height: 40px;
        max-width: 170px;
        padding: 0 15px;

        &:focus {
            outline-color: $yellow-200;
        }

        &::placeholder {
            color: $blue-400;
            font-size: 12px;
            line-height: 1.2;
        }
    }

    &__btn {
        padding: 10px 20px;
        position: absolute;
        right: -1px;

        @include r($mobile-lg) {
            padding: 10px 5px;
        }

        @include r($mobile-sm) {
            right: -2px;
        }

        @include r($mobile) {
            padding: 10px 20px;
        }

        &:focus {
            box-shadow: 5px 5px 5px 2px rgba(37, 37, 37, 0.5);
        }

        &:active {
            background-color: $blue-200;
        }
    }
}