.share {
    display: flex;
    
    &__item {
        display: flex;

        &:not(:last-child) {
            margin-right: 16px;

            @include r($mobile) {
                margin-right: 20px;
            }
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        transition: border-bottom-color 0.4s;

        &:hover {
            border-bottom-color: $blue-200;
        }

        &:focus {
            border-bottom-color: transparent;
            border-radius: 5px;
            box-shadow: 3px 3px 5px 1px rgba(37, 37, 37, 0.5);
            
        }
    }
}