.login {

    .page-top {
        margin-bottom: 105px;

        @include r($mobile-xl) {
            margin: 90px 0 70px;
        }

        @include r($mobile-sm) {
            margin: 70px 0 30px;
        }

        @include r($mobile) {
            margin: 65px 0 30px;
        }
    }

    &__content {
        max-width: 470px;
        width: 100%;
        margin: 0 auto 120px;

        @include r($mobile-xl) {
            margin-bottom: 90px;
        }

        @include r($mobile-sm) {
            margin-bottom: 70px;
        }

        @include r($mobile) {
            margin-bottom: 65px;
        }
    }

    &__registred {
        text-align: center;
        margin-bottom: 20px;
        @include line-clamp(2);
    }
    
    &__btn-regist {
        text-align: center;
        border: 2px solid $blue-200;
        padding: 18px 0;
        color: $blue-500;
        font-family: $rubik;
        font-weight: 500;
        font-size: 18px;
        transition: color 0.4s, background-color 0.4s;
        @include line-clamp(1);
    
        &:hover {
            color: $white-100;
            background-color: $blue-200;
        }
        
        &:focus {
            border-bottom: 2px solid $blue-200;
            box-shadow: 3px 3px 5px 1px rgba(37, 37, 37, 0.5);
        }
    
        &:active:focus {
            border-color: $blue-200;  
            color: $white-100;
            background-color: $blue-500;
        }
    }

    .partners {
        margin-bottom: 0;
    }
}

