<footer class="footer">
    <div class="container container--sm">
        <div class="footer__top">
            <div class="footer__box">
                <a class="footer__logo logo" href="/" >
                    <img class="logo__img" width="150" height="40" src="images/content/logo.png" alt="logo">
                </a>
                <address class="footer__contacts">
                    <a class="footer__link" target="_blank" href="https://goo.gl/maps/AdMkDcJWqRr9rBD38" >
                        <span>Address:</span> 4772 Wines Lane
                        Houston, TX 77032
                    </a>
                    <a class="footer__link" href="tel:+8323475843" >
                        <span>Telephone:</span> +832-347-5843
                    </a>
                    <a class="footer__link" href="mailto:contact@Glee.com" >
                        <span>Email:</span> contact@Glee.com
                    </a>
                </address>
            </div>
            <div class="footer__box">
                <span class="footer__title">
                    Services
                </span>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="/about.html" >
                            About Us
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/error-404.html" >
                            Return Policy
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/blog.html" >
                            Our Blog
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/contact.html" >
                            Contact Us
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/terms-conditions.html" >
                            Terms & Condition
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__box">
                <span class="footer__title">
                    Account
                </span>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="/login.html" >
                            Your Account
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/error-404.html" >
                            Checkout
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/login.html" >
                            Login
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="/register.html" >
                            Register
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__box">
                <span class="footer__title">
                    Newsletter
                </span>
                <form class="subscribe-form">
                    <div class="subscribe-form__text">
                        <p>
                            Subscribe by our newsletter and get update protidin.
                        </p>
                    </div>
                    <label class="sr-only" for="subscribe-email">
                        enter your email
                    </label>
                    <input class="subscribe-form__email" type="email" id="subscribe-email"
                        placeholder="Email address" name="[subscription]email" required>

                    <button class="subscribe-form__btn btn btn--universal" type="submit" >
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__copy">
                <p>
                    ©2020 CopyRight Example. All rights reserved.
                </p>
            </div>
            <nav class="footer__menu">
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link" href="/" >
                            Home
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="/about.html" >
                            About
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="/blog.html" >
                            Blog
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="/contact.html" >
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>