<div class="page-top">
    <div class="container container--sm">
        <h1 class="page-top__title">
            @@title
        </h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="/">
                    Home
                </a>
            </li>
            <li class="breadcrumbs__item">
                <span class="breadcrumbs__link" href="#">
                    @@page
                </span>
            </li>
        </ul>
    </div>
</div>