<div class="pagination">
    <a class="pagination__prev pagination--style" href="#">
            Previous
    </a>
    <ul class="pagination__list">
        <li class="pagination__item">
            <span class="pagination__link pagination--style">
                1
            </span>
        </li>
        <li class="pagination__item">
            <a class="pagination__link pagination--style" href="#">
                2
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__link pagination--style" href="#">
                3
            </a>
        </li>
    </ul>
    <a class="pagination__next pagination--style" href="#">
        Next
    </a>
</div>    