<div class="pagination">
    <a class="pagination__nav pagination__nav--prev pagination--style" href="#">
            Previous
    </a>
    <ul class="pagination__list">
        <li class="pagination__item">
            <span class="pagination__nav pagination__nav--active">
                1
            </span>
        </li>
        <li class="pagination__item">
            <a class="pagination__nav" href="#">
                2
            </a>
        </li>
        <li class="pagination__item">
            <a class="pagination__nav" href="#">
                3
            </a>
        </li>
    </ul>
    <a class="pagination__nav pagination__nav--next" href="#">
        Next
    </a>
</div>    