.blog-details {

    .page-top {
        margin-bottom: 120px;

        @include r($mobile-xl) {
            margin: 90px 0 70px;
        }

        @include r($mobile-sm) {
            margin: 70px 0 30px;
        }

        @include r($mobile) {
            margin: 65px 0 30px;
        }
    }

    &__inner {
        margin-bottom: 120px;
        display: flex;

        @include r($mobile-lg) {
            margin-bottom: 90px;
        }

        @include r($mobile-md) {
            flex-direction: column;
            align-items: center;
        }

        @include r($mobile-sm) {
            margin-bottom: 60px;
        }
    }

    &__box {
        max-width: 830px;
        width: 100%;
        margin-right: 70px;

        @include r($mobile-lg) {
            margin-right: 30px;
        }

        @include r($mobile-md) {
            margin-right: 0;
        }
    }

    &__wrapper {
        border-top: 2px solid $gray-900;
        border-bottom: 2px solid $gray-900;
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        margin-bottom: 65px;

        @include r($mobile) {
            display: block;
            padding: 20px 10px;
            margin-bottom: 45px;
        }
    }

    &__wrapper-box {
        padding: 10px 20px 10px 25px;

        @include r($mobile) {
            padding: 0;
        }
    }

    &__tags {
        display: flex;
        margin-bottom: 15px;
    }

    &__share {
        display: flex;
    }

    &__share-span,
    &__tags-span {
        margin-right: 30px;
        font-family: $rubik;
        font-size: 16px;
        color: $gray-800;
    }

    &__share-span {
        margin-right: 15px;
    }

    &__reviews {
        margin-bottom: 90px;

        @include r($mobile-sm) {
            margin-bottom: 45px;
        }
    }

    &__form-title,
    &__reviews-title {
        font-family: $rubik;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.04rem;
        display: block;
        margin-bottom: 55px;
        @include line-clamp(2);

        @include r($mobile) {
            margin-bottom: 35px;
        }

        span {
            margin-right: 5px;
        }
    }

    &__form-title {
        letter-spacing: 0.02rem;
        margin-bottom: 45px;

        @include r($mobile) {
            margin-bottom: 30px;
        }
    }

    .post-card {
        margin-bottom: 55px;

        @include r($mobile) {
            margin-bottom: 45px;
        }

        &__wrapper {
            position: relative;
        }

        &__img {
            pointer-events: none;
            max-width: 830px;
            width: 100%;
            max-height: 500px;
            height: 70vh;
            object-fit: cover;
        }

        &__category {
            border-radius: 0;
            display: flex;
            padding: 30px 30px 30px 25px;
            bottom: 0;
            position: absolute;
            background-color: $blue-200;
            max-width: 100%;
            left: 0;

            @include r($mobile-sm) {
                padding: 20px;
            }

            &:active:focus {
                border-radius: 0;
            }
        }

        &__moder,
        time {
            color: $white-100;
            font-size: 12px;
            font-weight: 400;
            max-width: 400px;
            text-transform: uppercase;
            position: relative;
            padding: 0 2px 0 17px;
            border-bottom: 1px solid transparent;
            @include line-clamp(1);

            &::before {
                content: "";
                position: absolute;
                width: 11px;
                height: 12px;
                left: 0;
            }
        }

        time {
            margin-right: 25px;

            &::before {
                background-image: url(../images/content/post-date1.svg);
            }
        }

        &__moder {
            transition: border-bottom-color 0.4s;

            &:hover {
                border-bottom-color: $white-100;
            }

            &:focus {
                box-shadow: 0px 3px 10px 5px rgba(37, 37, 37, 0.05);
            }

            &::before {
                background-image: url(../images/content/post-user1.svg);
            }
        }

        &__box {
            padding: 32px 0 0;

            @include r($mobile-lg) {
                background-color: $white-100;
            }

            h2 {
                margin-bottom: 15px;
                font-family: $rubik;
                font-weight: 400;
                font-size: 36px;
                color: $gray-800;
                line-height: 1.2;

                @include r($mobile-sm) {
                    font-size: 28px;
                }
            }

            h3 {
                font-weight: 500;
                font-family: $rubik;
                font-size: 18px;
                line-height: 1.6;
                margin-bottom: 15px;
                color: $gray-800;

                @include r($mobile-lg) {
                    padding-top: 0;
                }
            }

            div {
                margin-bottom: 25px;
            }

            p {
                font-family: $rubik;
                font-size: 16px;
                line-height: 1.9;
                color: $blue-500;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }

            div {

                @include r($mobile-md) {
                    padding: 0;
                }

                p {
                    padding: 0 0 0 5px;
                
                    @include r($mobile-sm) {
                        padding: 0;
                    }

                    &:first-child {
                        font-weight: 400;
                        margin-bottom: 15px;
                    }

                    img {
                        max-width: 320px;
                        width: 100%;
                        max-height: 210px;
                        height: 70vh;
                        float: left;
                        margin-right: 30px;
                        object-fit: cover;
                        background-color: $blue-100;

                        @include r($mobile-md) {
                            margin-right: 15px;
                        }

                        @include r($mobile-sm) {
                            float: none;
                            max-width: 750px;
                            margin: 0 0 10px;
                        }
                    }

                    span {
                        font-weight: 500;
                        font-family: $rubik;
                        font-size: 18px;
                        display: block;
                        line-height: 1.6;
                        margin-bottom: 15px;
                        padding-top: 25px;

                        @include r($mobile-lg) {
                            padding-top: 0;
                        }
                    }
                }
            }

            blockquote {
                border-left: 6px solid $blue-200;
                background-color: $blue-100;
                font-family: $rubik;
                font-size: 16px;
                line-height: 1.8;
                padding: 15px 40px 10px 35px;
                color: $blue-500;
                margin: 20px 0 45px;

                @include r($mobile-sm) {
                    margin-bottom: 35px;
                }

                @include r($mobile) {
                    padding: 15px 20px;
                }

                cite {
                    font-style: normal;
                    padding-left: 45px;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 3px;
                        background-color: $blue-200;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    .reviews {
        margin-bottom: 0;

        &__item {

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @include r($mobile) {
                display: block;
            }
        }

        &__link {
            letter-spacing: 0.03rem;
            margin-bottom: 5px;
            max-width: 400px;

            span {
                @include line-clamp(2);
            }

            &::after {
                display: none;
            }
        }

        &__box {
            padding-bottom: 25px;
            border-bottom: 1px solid $white-600;

            &:last-child {
                padding: 30px 0;
            }

            &--bottom {
                display: flex;

                @include r($mobile) {
                    display: block;
                }
            }
        }

        &__date {
            font-size: 14px;
        }

        &__text {
            padding-left: 5px;
            margin-bottom: 18px;
            line-height: 1.9;
            @include line-clamp(100000);

            @include r($mobile-xxl) {
                padding-left: 0;
            }
        }

        &__reply {
            padding: 0 20px 0 0;
            position: relative;
            color: $blue-900;

            &:hover {
                color: $blue-200;

                svg {
                    fill: $blue-200;
                }
            }

            svg {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                fill: $blue-900;
            }
        }
    }

    .blog__sidebar {

        @include r($mobile-md) {
            padding: 100px 20px 170px;
        }

        @include r($mobile-sm) {
            top: 170px;
            padding: 60px 20px 160px;
        }

        @include r($mobile) {
            top: 150px;
            max-width: 100%;
            padding: 60px 10px 140px;
        }
    }

    .filters__category {
        margin-bottom: 35px;
    }

    .partners {
        margin-bottom: 0;
    }
}