.terms-conditions {

    &__inner {

        div {

            &:not(:last-child) {
                margin-bottom: 50px;

                @include r($mobile) {
                    margin-bottom: 30px;
                }
            }

            div {

                p {
                    font-family: $rubik;
                    font-size: 16px;
                    color: $blue-300;
                    line-height: 1.9;
                }
            }
        }

        h2 {
            font-family: $rubik;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.5;
            color: $blue-500;
            margin-bottom: 20px;

            @include r($mobile) {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }

        ol {
            list-style-type: decimal-leading-zero;
            padding-left: 30px;
        }

        li {
            font-family: $rubik;
            font-size: 16px;
            color: $blue-300;
            padding-left: 10px;
            line-height: 1.9;

            @include r($mobile-sm) {
                padding-left: 5px;
            }

            @include r($mobile) {
                padding-left: 0;
            }

            &:not(:last-child) {
                margin-bottom: 20px;

                @include r($mobile) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .insights {
        padding-top: 105px;

        @include r($mobile-xl) {
            padding-top: 90px;
        }

        @include r($mobile-xl) {
            padding-top: 60px;
        }
    }
}