.product-tabs {

    &__descr-text {
        font-family: $rubik;
        font-size: 16px;
        line-height: 2;
        color: $blue-500;
        margin-bottom: 110px;
        @include line-clamp(10);

        @include r($mobile-lg) {
            margin-bottom: 40px;
        }
    }

    &__descr-title {
        text-align: left;
        margin-bottom: 70px;
        max-width: 90%;
        @include line-clamp(2);

        @include r($mobile-lg) {
            margin-bottom: 30px;
        }

        @include r($mobile) {
            text-align: center;
            max-width: 100%;
        }
    }
}
