.blog {

    .page-top {
        margin-bottom: 120px;

        @include r($mobile-xl) {
            margin: 90px 0 70px;
        }

        @include r($mobile-sm) {
            margin: 70px 0 30px;
        }

        @include r($mobile) {
            margin: 65px 0 30px;
        }
    }

    .breadcrumbs {

        &__item {

            &:nth-child(2) {
                pointer-events: none;
                margin-right: 0;
            }
        }
    }

    &__content {
        margin-bottom: 120px;

        @include r($mobile-md) {
            margin-bottom: 90px;
        }
        
        @include r($mobile-sm) {
            margin-bottom: 60px;
        }
    }

    &__inner {
        display: flex;
        margin-bottom: 70px;
        position: relative;

        @include r($mobile-md) {
            flex-direction: column;
            align-items: center;
        }

        @include r($mobile-sm) {
            margin-bottom: 40px;
        }
    }

    &__sidebar-btn {
        display: none;

        span {
            font-size: 20px;
            font-family: $rubik;
        }

        @include r($mobile-md) {
            display: block;
            margin: 0 auto 20px 20px;
        }

        @include r($mobile-sm) {
            margin: 0 auto 10px 0;
        }
    }

    &__box {
        max-width: 830px;
        width: 100%;
        margin-right: 70px;

        @include r($mobile-lg) {
            margin-right: 30px;
        }

        @include r($mobile-md) {
            margin-right: 0;
        }
    }

    &__list {
        display: block;
        width: 100%;
    }

    &__item {
        max-width: 100%;

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__sidebar-close {

        @include r($mobile-md) {
            display: block;
            margin: 0 0 0 auto;
        }
    }

    &__sidebar {
        max-width: 270px;
        width: 100%;

        @include r($mobile-md) {
            position: absolute;
            background-color: $white-100;
            z-index: 10;
            padding: 40px 20px 90px;
            height: calc(100vh - 25px);
            max-width: 310px;
            border-top: 2px solid $blue-200;
            border-bottom: 2px solid $blue-200;
            top: -70px;
            overflow: auto;
            left: -150%;
            transition: transform 0.4s, left 0.4s;

            &.active {
                left: 0;
            }
        }

        @include r($mobile-sm) {
            top: -30px;
            padding: 60px 20px 160px;
        }

        @include r($mobile) {
            max-width: 100%;
            padding: 60px 10px 140px;
        }
    }

    .post-card {

        &__img-wrapper {
            max-height: 501px;
            height: 70vh;
            max-width: 100%;
            width: 100%;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    
        &__date,
        &__link--admin {
            color: $white-100;
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            @include line-clamp(1);
        }
    
        &__date {
    
            &::before {
                background-image: url(../images/content/post-date1.svg);
            }
        }
    
        &__link--admin {
    
            &::before {
                background-image: url(../images/content/post-user1.svg);
            }
        }
    
        &__box {
            padding: 32px 0 0;
    
            @include r($mobile-lg) {
                padding: 32px 15px 15px;
            }
    
            @include r($mobile-lg) {
                padding: 15px 15px;
            }
        }
    
        &__link {
    
            &--category {
                border-radius: 0;
                display: flex;
                padding: 30px 30px 26px 25px;
                top: -70px;
                max-width: 100%;
                left: 0;
    
                @include r($mobile-md) {
                    top: -75px;
                }
    
                @include r($mobile-sm) {
                    padding: 20px;
                    top: -60px;
                }
                
                @include r($mobile) {
                    padding: 10px;
                    top: -40px;
                }
            }
    
            &--wrapper {
                margin-bottom: 35px;
            }
        } 
    
        &__title {
            font-family: $rubik;
            font-weight: 400;
            font-size: 36px;
            color: $gray-800;
            line-height: 1.2;
            margin-bottom: 30px;
            @include line-clamp(2);
    
            @include r($mobile-sm) {
                font-size: 28px;
            }
        }
    
        &__text {
            font-family: $rubik;
            font-size: 16px;
            line-height: 1.8;
            color: $blue-500;
            @include line-clamp(6);
        }
    
        &__btn {
            display: inline-block;
            padding: 20px 85px 22px 20px;
            color: $blue-200;
            border: 1px solid $blue-200;
            font-weight: 700;
            font-family: $Nunito;
            font-size: 15px;
            transition: color 0.4s, background-color 0.4s;
    
            &:hover {
                background-color: $blue-500;
                color: $white-100;
            }
    
            &::after {
                background-image: url(../images/content/arrow-right.svg);
            }
    
            &:active:focus {
                color: $white-100;
            }
        }
    }

    .filters-form {

        &__search {
            width: 100%;
            position: relative;
            display: flex;
            margin-bottom: 55px;

            @include r($mobile-md) {
                margin-bottom: 30px;
            }
        }

        &__input {
            max-width: 222px;
            width: 100%;
            padding: 12px 10px;
            border: 2px solid $blue-100;
            border-right-color: transparent;
            position: absolute;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            @include r($mobile) {
                max-width: 475px;
                border-right-color: $blue-100;
                position: relative;
            }


            &:focus {
                outline: transparent;
                border: 2px solid $blue-200;
                box-shadow: -1px 5px 5px 0px rgba(37, 37, 37, 0.5);
            }
        }

        &__btn {
            max-width: 48px;
            width: 100%;
            padding: 13px 0 14px;
            margin-left: auto;
            display: flex;
            justify-content: center;
            background-color: $blue-100;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: background-color 0.4s;

            &:hover {
                background-color: $blue-200;

                svg {
                    fill: $white-100;
                }
            }

            svg {
                fill: $blue-800;
                transition: fill 0.4s;
            }

            &:focus {
                box-shadow: 3px 3px 5px 1px rgba(37, 37, 37, 0.5);
            }
        }
    }

    .filters__category {
        margin-bottom: 35px;
    }

    &__recent-title,
    .filters__title {
    
        @include r($mobile-md) {
            margin: 0 auto 30px;
        }
    }

    &__recent-title {
        margin-bottom: 30px;
    }

    .recent {

        &__wrapper-img {
            max-width: 70px;
            width: 100%;
            height: 70px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title {
            line-height: 1.3;
        }

        &__box-date {

            svg {
                position: relative;
                top: 1px;
                fill: $gray-700;
            }
        }

        &__date {
            font-family: $rubik;
            font-size: 12px;
            color: $gray-700;
            text-transform: uppercase;
            padding-left: 5px;
        }
    }

    .pagination {
        justify-content: flex-start;

        @include r($mobile-lg) {
            justify-content: center;
        }
    
        &__nav--prev {
            display: none;
        }
    }

    .partners {
        margin-bottom: 0;
    }
}